{% extends 'articles/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
{% endblock %}

{% block title %}
    Profile
{% endblock %}


{% block content %}
   

    <div class="profile">

      <div class="profile-navigator">
       

        {% if profile_user.profile.profile_image %}

          <div class="profile-header">
            <img src="{{profile_user.profile.profile_image.url}}" alt="">

          </div>
        {% else %}
          {% if profile_user.profile.gender == "Male" %}
            <div class="profile-header">
              <img src="{% static 'images/male_avatar.jpg' %}" alt="">

            </div>

          {% elif profile_user.profile.gender == "Female" %}
            <div class="profile-header">
              <img src="{% static 'images/female_avatar.jpg' %}" alt="">

            </div>

          {% else %}
            <div class="profile-header">
              <img src="{% static 'images/default_avatar.jpg' %}" alt="">

            </div>
          {% endif %}
        {% endif %}


        

        <div class="identity">
          <p class="names">{{profile_user.first_name}} {{profile_user.last_name}}</p>

          <p class="username">{{profile_user.username}}</p>
          <p class="email">{{profile_user.email}}</p>

          <p class="bio">
            {{profile_user.profile.bio|truncatechars:60}}
          </p>

          <p class="gender">
            {{profile_user.profile.gender}}
          </p>
        </div>

        <div class="articles-stats">
            <h6>Articles</h6>
            <span class="count">{{article_count}}</span>
          </div>

        <div class="progress-stats">

          <div class="stats-item">
            <p class="label">Sport</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{sport_progress|floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{sport_progress}}%</div>
            </div>

          </div>

          <div class="stats-item">
            <p class="label">Travel</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{travel_progress|floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{travel_progress}}%</div>
            </div>

          </div>

          <div class="stats-item">
            <p class="label">Nature</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{nature_progress|floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{nature_progress}}%</div>
            </div>

          </div>

          <div class="stats-item">
            <p class="label">Lifestyle</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{lifestyle_progress|floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{lifestyle_progress}}%</div>
            </div>

          </div>

          <div class="stats-item">
            <p class="label">Other</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{other_progress|floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{other_progress}}%</div>
            </div>

          </div>


        </div>



        

        <div class="social-icons-container">

          <div class="social-icons">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram-alt' ></i></a>
            <a href=""><i class='bx bxl-internet-explorer'></i></a>
            <a href=""><i class='bx bxl-twitter' ></i></a>
          </div>

          
        </div>

      </div>

      
      {% if user.id == logged_user_id %}
      <div class="profile-details">

       
          <form method="POST" action="" class="profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex-form-divs">
              <div class="user-change-form">
                {{user_form.as_p}}
              </div>
              <div class="profile-change-form">
                {{profile_form.as_p}}
              </div>
  
            </div>
            <div class="full-width-inputs">

              

              {% if user.profile.gender == "Male" %}
              <select class="form-select mb-3" aria-label="Default select example" name= "gender">
                <option selected value="Male">Male</option>
                <option value="Female">Female</option>

              </select>

              {% elif user.profile.gender == "Female" %}
              <select class="form-select mb-3" aria-label="Default select example" name= "gender">
                <option value="Male">Male</option>
                <option selected value="Female">Female</option>

              </select>
              {% else %}
              <select class="form-select mb-3" aria-label="Default select example" name= "gender">
                <option selected disabled>Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>
              {% endif %}

              
             

              {% if user.profile.bio %}
              <div class="mb-3">
                <textarea class="form-control" name="bio" rows="4" >{{user.profile.bio}}</textarea>
              </div>

              {% else %}
              <div class="mb-3">
                <textarea class="form-control" name="bio" rows="4" placeholder="bio"></textarea>
              </div>
              {% endif %}

              <button type="submit" class="btn btn-read-more">Save</button>

            </div>
            
          </form>


      

        


      </div>
      {% endif %}

        

        
    </div>



{% endblock %}