{% extends 'articles/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
{% endblock %}

{% block title %}
    Profile
{% endblock %}


{% block content %}
   

    <div class="profile">

      <div class="profile-navigator">
        {% if user.profile.profile_image %}
        <div class="profile-header">
          <img src="{{user.profile.profile_image.url}}" alt="">

        </div>
        {% endif %}

        <div class="identity">
          <p class="names">{{user.first_name}} {{user.last_name}}</p>

          <p class="username">{{user.username}}</p>
          <p class="email">{{user.email}}</p>

          <p class="bio">
            {{user.profile.bio|truncatechars:60}}
          </p>

          <p class="gender">
            {{user.profile.gender}}
          </p>
        </div>

        <div class="stats">

          <div class="articles-stats">
            <h6>Articles</h6>
            <span>{{article_count}}</span>
          </div>

          <div class="likes-stats">
            <h6>Likes</h6>
            <span>10</span>
          </div>

          <div class="comments-stats">
            <h6>Comments</h6>
            <span>10</span>
          </div>

        </div>



        

        <div class="social-icons-container">

          <div class="social-icons">
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            <a href=""><i class='bx bxl-instagram-alt' ></i></a>
            <a href=""><i class='bx bxl-internet-explorer'></i></a>
            <a href=""><i class='bx bxl-twitter' ></i></a>
          </div>

          <div class="button-container">
            <button type="submit" class="btn btn-read-more profile-edit ">Edit Profile</button>
          </div>
          
        </div>

      </div>

      

      <div class="profile-details">

       
          <form method="POST" action="" class="profile-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex-form-divs">
              <div class="user-change-form">
                {{user_form.as_p}}
              </div>
              <div class="profile-change-form">
                {{profile_form.as_p}}
              </div>
  
            </div>
            <div class="full-width-inputs">
              {% if user.profile.gender == "Male" %}
              <select class="form-select mb-3" aria-label="Default select example" name= "gender">
                <option selected value="Male">Male</option>
                <option value="Female">Female</option>

              </select>

              {% elif user.profile.gender == "Female" %}
              <select class="form-select mb-3" aria-label="Default select example" name= "gender">
                <option value="Male">Male</option>
                <option selected value="Female">Female</option>

              </select>
              {% else %}
              <select class="form-select mb-3" aria-label="Default select example" name= "gender">
                <option selected disabled>Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>
              {% endif %}

              
             

              {% if user.profile.bio %}
              <div class="mb-3">
                <textarea class="form-control" name="bio" rows="4" >{{user.profile.bio}}</textarea>
              </div>

              {% else %}
              <div class="mb-3">
                <textarea class="form-control" name="bio" rows="4" placeholder="bio"></textarea>
              </div>
              {% endif %}

              <button type="submit" class="btn btn-read-more">Submit</button>

            </div>
            
          </form>


      

        


      </div>


        

        
    </div>



{% endblock %}