{% extends 'articles/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_article.css' %}">

{% endblock %}

{% block title %}
    Add Artlicle
{% endblock %}


{% block content %}
    <div class="action-bar">
        <h3>Show all my stories</h3>
        <a class=" btn btn-read-more add-story" href="{% url 'my_articles' %}">My Stories</a>
    </div>
    <div class="form-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

            <button type="submit" class="btn btn-read-more">Submit</button>
        </form>
    </div>

    
{% endblock %}