{% extends 'articles/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my_articles.css' %}">
{% endblock %}
{% block title %}
    All Articles
{% endblock %}


{% block content %}
<div class="bottom-section">

    {% if article_count <= 0%}
        <div class="action-bar">
            <h3>You currenlty have no Story</h3>
            <a class=" btn btn-read-more add-story" href="{% url 'add_article' %}">Add Story</a>
        </div>
    {% else %}
        <div class="action-bar">
            <h3>You have {{number_of_articles}} stories</h3>
            <a class=" btn btn-read-more add-story" href="{% url 'add_article' %}">Add Story</a>
        </div>
        
        <div class="article-section">
            <div class="articles">
                {% for article in article_list %}
                    <div class="article">
                        <div class="article-image">
                            <img class="article-image-image" src="{{article.story_image.url}}" alt="">
                        </div>

                        <div class="article-content">
                            <div class="article-header-details">
                                <h5 class="category">{{article.category}}</h5>
                                <h5 class="title"><a href="{% url 'article' article.id %}">{{article.topic}}</a></h5>

                                <div class="admin-stuff">
                            
                                    <p>{{article.date_time}}</p>
                                </div>
                            </div>
                            
                            <div class="article-footer">
                                <a class="btn btn-read-more" href="{% url 'edit_article' article.id %}">Edit</a>
                                <a class="btn btn-read-more" href="{% url 'delete_article' article.id %}">Delete</a>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
                {% if paginator.num_pages > 1 %}
                    <ul class="pagination">
                        {% for i in paginator.page_range %}
                            <li class="page-item {% if i == page_number %} active {% endif %}">
                                <a class="page-link" href="?page={{i}}">{{i}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="information-tab">
                <div class="form">
                    <form action="{% url 'search_me' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="" type="text" placeholder="search" name="search">
                        <button class="btn-read-more btn-search" type="submit"><i class='bx bx-search-alt-2'></i></button>
                        </div>
                    </form>
                </div>
                

                <div class="categories">
                    <h5>Categories</h5>
                    <ul>
                        <li>
                            <a href="{% url 'filter_me' 'sport' %}">Sport</a><span class="count">{{sport_count}}</span>
                        </li>
                        <li>
                            <a href="{% url 'filter_me' 'travel' %}">Travel</a><span class="count">{{travel_count}}</span>
                        </li>
                        <li>
                            <a href="{% url 'filter_me' 'nature' %}">Nature</a><span class="count">{{nature_count}}</span>
                        </li>
                        <li>
                            <a href="{% url 'filter_me' 'lifestyle' %}">Lifestyle</a><span class="count">{{lifestyle_count}}</span>
                        </li>
                        <li>
                            <a href="{% url 'filter_me' 'other' %}">Other</a><span class="count">{{other_count}}</span>
                        </li>
                    </ul>
                </div>

                {% if last_article %}
                <div class="recent-posts">
                    
                    <h5>Last Added</h5>
                    
                        <div class="recent-post">
                            <img class="recent-post-image" src="{{last_article.story_image.url}}" alt="">
                            <div class="last-added-content">
                                
                                <h5 class="title"><a href="{% url 'article' last_article.id %}">{{last_article.topic}}</a></h5>
                                
                                <p>{{last_article.date_time}}</p>
                            </div>
                            
                        </div>
                    
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}