
body {
    margin: 0;
    padding: 0;
    position:relative;
    padding-bottom: 150px;
    background-color:white;
    height:100%;
}
.count {
    background-color: orange!important;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 50%;
    padding: 1px 8px 3px 8px;
}
.filter-link {
    width: 100%;
}
.categories ul li {
    display: flex!important;
    justify-content: space-between!important;
}
.justify-space-between {
    display: flex;
    justify-content: space-between
}

.left-text {
    text-align: left;
}
.center-text {
    text-align: center;
}

.action-bar h3 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 5px;;
}

footer{
    display: flex;
    width: 100%;
    height:150px;
    background-color:  #22333B;
    color: white;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    align-items: center;
}
.auth {
    width: 100%;
    display: flex;
    justify-content: end;
}
.auth-links {
    
    width: 30%;

}
.admin-identity{
    display: flex;
    align-items: center;

}
.admin-identity-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.author-name{
    padding: 0;
    margin: 0;
    padding-right: 10px;
}

.time{
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.article-profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.author-link {
    text-decoration: none;
    font-weight: bold;
}
.author-link:hover {
    text-decoration: underline;
}